### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [17]:
unique_purchase_data = purchase_data["SN"].unique()
total_players = len(unique_purchase_data)
total_players_dicts = [{
    "Total Players": total_players
}]
total_players_df = pd.DataFrame(total_players_dicts)
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# unique items
unique_items = purchase_data["Item ID"].unique()
unique_items_count = len(unique_items)

# average price
average_price = purchase_data["Price"].mean()

# number of purchases
number_of_purchases = purchase_data["Price"].count()

# total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

# put variables into dictionary
game_dicts = [
    {"Number of Unique Items": unique_items_count,
    "Average Price": average_price,
    "Number of Purchases": number_of_purchases,
    "Total Revenue": total_revenue}
    
    
]

# put dictionary into dataframe
summary_table_df = pd.DataFrame(game_dicts)
summary_table_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [43]:
# establish variables
total_count = purchase_data["Gender"].count()
male_count = purchase_data.loc[purchase_data["Gender"] == "Male"]
female_count = purchase_data.loc[purchase_data["Gender"] == "Female"]
other_count = total_count - male_count - female_count

# get percentages
male_percentage = (male_count / total_count) * 100
female_percentage = (female_count / total_count) * 100
other_percentage = (other_count / total_count) * 100

# put into dictionary
gender_dicts = {
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": [male_count, female_count, other_count],
    "Percentage of Players": [male_percentage, female_percentage, other_percentage]
}

summary_table = pd.DataFrame(gender_dicts)
cleaned_summary_table = summary_table.groupby("Gender")
cleaned_summary_table

TypeError: ufunc 'subtract' did not contain a loop with signature matching types dtype('<U21') dtype('<U21') dtype('<U21')


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# purchase count per gender
male_purchcount = purchase_data.loc[purchase_data["Gender"] == "Male", "Price"].count()
female_purchcount = purchase_data.loc[purchase_data["Gender"] == "Female", "Price"].count()
other_purchcount = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", "Price"].count()

# avg purchase price per gender
avg_male_purchprice = purchase_data.loc[purchase_data["Gender"] == "Male", "Price"].mean()
avg_female_purchprice = purchase_data.loc[purchase_data["Gender"] == "Female", "Price"].mean()
avg_other_purchprice = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", "Price"].mean()

# avg purchase total per gender
male_purchtotal = purchase_data.loc[purchase_data["Gender"] == "Male", "Price"].sum()
avg_male_purchtotal = male_purchtotal / male_purchcount

female_purchtotal = purchase_data.loc[purchase_data["Gender"] == "Female", "Price"].sum()
avg_female_purchtotal = female_purchtotal / female_purchcount

other_purchtotal = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", "Price"].sum()
avg_other_purchtotal = other_purchtotal / other_purchcount

# make dictionary
purchasing_dicts = {
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [male_purchcount, female_purchcount, other_purchcount],
    "Average Purchase Price": [avg_male_purchprice, avg_female_purchprice, avg_other_purchprice],
    "Average Total Purchase Per Person": [avg_male_purchtotal, avg_female_purchtotal, avg_other_purchtotal]
    
}

summary_table = pd.DataFrame(purchasing_dicts)
cleaned_summary_table = summary_table.groupby("Gender")

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+40"]


purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=labels)
# purchase_data.head()
grouped_age = purchase_data.groupby("Age Group").count()

under_ten = grouped_age.loc[grouped_age["Age"] < 10, "SN"]
below_fifteen = grouped_age.loc[grouped_age["Age"] >= 10 & grouped_age["Age"] < 15, "SN"]
below_twenty = grouped_age.loc[grouped_age["Age"] >= 15 & grouped_age["Age"] < 20, "SN"]
below_twentyfive = grouped_age.loc[grouped_age["Age"] >= 20 & grouped_age["Age"] < 25, "SN"]
below_thirty = grouped_age.loc[grouped_age["Age"] >= 25 & grouped_age["Age"] < 30, "SN"]
below_thirtyfive = grouped_age.loc[grouped_age["Age"] >= 30 & grouped_age["Age"] < 35, "SN"]
forty_and_up = grouped_age.loc[grouped_age["Age"] > 40, "SN"]

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Group
<10                 23   23   23      23       23         23     23
10-14               28   28   28      28       28         28     28
15-19              136  136  136     136      136        136    136
20-24              365  365  365     365      365        365    365
25-29              101  101  101     101      101        101    101
30-34               73   73   73      73       73         73     73
35-39               41   41   41      41       41         41     41
+40                  6    6    6       6        6          6      6

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 40]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame